body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.products img {
  width: 100%;
}
.product-padding {
  padding: 40px;
}

button {
  font-size: 20px;
  padding: 10px;
}
header {
  background-color: pink;
  height: 70px;
  padding-top: 20px;
}
.moveright {
  float: right;
}
.selectDiv {
  display: inline;
  width: 10%;
  padding-left: 10px;
  vertical-align: middle;
}
.Select-menu-outer {
  z-index: 99999999 !important;
}
:global .Select-control {
  height: 34px;
}
:global .Select-placeholder {
  line-height: 28px;
}
.width20 {
  width: 20em;
}

.zindex {
  z-index: 99999999 !important;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}
.pd-left {
  padding-left: 10px;
}
.mar-left{
  margin-left: 2ex;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.cart__body {
  margin-bottom: 0.7em;
}

.cart-item {
  margin-bottom: 0.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item__name {
  margin-left: 0.5em;
  vertical-align: middle;
}

.cart-item__price {
  font-weight: bold;
}

.cart__total {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.1em;
  text-align: right;
}
.modal-body img {
  max-width: 50%;
}
ul {
  list-style-type: none;
  padding-inline-start: 1px;
}
